
/* GLOBAL STYLES */ * 

{ 
    box-sizing: border-box; 
    }

body {
    background-color: #f5f5f5; 
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif
    }


header {
    display: block;
    background-color: white; 
}


a {
    color: white; 
    font-weight: 300; 
    letter-spacing: 2px; 
    text-decoration: none; 
    background: rgb(86, 31, 153)
    padding: 5px 5px; 
    display: inline-block; 
    width: 100%; 
    text-align: center; 
 }
        

.navigation li:hover { 
    background: rgb(31, 88, 153);
}


.tab-bar { 
    max-width: 1300px; 
    margin: 0 auto;
    padding: 0px
    background-color: rgb(86, 31, 153);
}

    

.navigation ul { 
    border: 1px solid, rgb(86, 31, 153); 
    list-style: none;   
    display: flex;
    justify-self: center;
    background-color: rgb(86, 31, 153);
    margin: 0;
}

.navigation li {
    flex: 3;
    padding-top: 16px;
    padding-bottom: 16px;
}

.logobar {
    display: block;
    padding: 5px;
    columns: 2;
    justify-self: center;
    align-content: center;
}

.logobar div {
    display: block;
    padding: 5px;
}

#iconimg1 {
    display: block;
    max-width: 30px;
    float: right;
    align-self: center;
    justify-self: center;
    margin: 10px;
    margin-top: 50px;
}

#iconimg2 {
    display: block;
    max-width: 30px;
    float: right;
    align-self: center;
    justify-self: center;
    margin: 10px;
    margin-top: 50px;
    margin-bottom: 5px;
}

#iconimg3 {
    display: block;
    max-width: 30px;
    float: right;
    align-self: center;
    justify-self: center;
    margin: 10px;
    margin-top: 50px;
    margin-bottom: 5px;
    margin-right: 110px;
}


#sitelogo {
    display: block;
    max-width: 45%;
    margin-top: 15px;
    margin-inline-start: 100px;
}




 


/* nav ul { */
    /* display: block; */
    /* padding-inline-start: 0px; */
    /* margin-right: 60px; */
    /* margin-left: 60px; */



/* nav li { */
    /* display: inline-block; */
    /* border: none; */
    /* text-align: left; */
    /* font-size: 18px; */
    /* color: white; */
    /* margin-left: 20px; */
    /* margin-right: 20px; */



#section1desc {
    margin-top: 60px;
    text-align: center;
}

#section1desc h2 {
    font-size: 40px;
}

#section1desc p {
    font-size: 25px;
}


.divbooklist {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    gap: 10px 2em;
    padding: 40px;
    justify-content: center;
}

.divbooklist :first-child {
    align-self: top;
}

.divbooklist p {
    text-align: left; 
}

.divbooklist h3 {
    text-align: center;
    font-size: 30px; 
}

  .divbooklist img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        margin-bottom: 40px;

  }

  footer {
      background-color: rgb(86, 31, 153);
      display: block;
      color: white;
  }

  footer ul {
      justify-self: right;
  }





