
/* GLOBAL STYLES */ 

{ 
    box-sizing: border-box; 
    }

body {
    background-color: #f5f5f5; 
    margin: 0px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }


header {
    display: block;
    background-color: white; 
}


a {
    color: white; 
    font-weight: 300; 
    letter-spacing: 2px; 
    text-decoration: none; 
    background: rgb(86, 31, 153)
    padding: 5px 5px; 
    display: inline-block; 
    width: 100%; 
    text-align: center; 
 }
        

.navigation li:hover { 
    background: rgb(38, 83, 179);
}


.tab-bar { 
    max-width: 1200px; 
    margin: 0 auto;
    padding: 0px
    background-color: rgb(86, 31, 153);
}

    

.navigation ul { 
    border: 1px solid, rgb(86, 31, 153); 
    list-style: none;   
    display: flex;
    justify-self: center;
    background-color: rgb(86, 31, 153);
    margin: 0px;
    padding: 0px;
}

.navigation li {
    flex: 3;
    padding-top: 16px;
    padding-bottom: 16px;
}

.logobar {
    display: block;
    padding: 5px;
    columns: 2;
    justify-self: center;
    align-content: center;
}

.logobar div {
    display: block;
    padding: 5px;
}

#iconimg1 {
    display: block;
    max-width: 30px;
    float: right;
    align-self: center;
    justify-self: center;
    margin: 10px;
    margin-top: 50px;
}

#iconimg2 {
    display: block;
    max-width: 30px;
    float: right;
    align-self: center;
    justify-self: center;
    margin: 10px;
    margin-top: 50px;
    margin-bottom: 5px;
}

#iconimg3 {
    display: block;
    max-width: 30px;
    float: right;
    align-self: center;
    justify-self: center;
    margin: 10px;
    margin-top: 50px;
    margin-bottom: 5px;
    margin-right: 160px;
}

#welcomescript {
    display: block;
    float: left;
    padding: 0px 0px 0px 180px;
    margin: 40px 0px 0px 0px;
}

#welcomemessage {
    display: block;
    text-justify: center;
    text-align: center;
}

#sitelogo {
    display: block;
    max-width: 45%;
    margin: 22px 0px 0px 0px;
    margin-inline-start: 150px;
}




 


/* nav ul { */
    /* display: block; */
    /* padding-inline-start: 0px; */
    /* margin-right: 60px; */
    /* margin-left: 60px; */



/* nav li { */
    /* display: inline-block; */
    /* border: none; */
    /* text-align: left; */
    /* font-size: 18px; */
    /* color: white; */
    /* margin-left: 20px; */
    /* margin-right: 20px; */



#section1desc {   
    display: flex;
    margin: 25px auto 25px auto;
    padding: 5px;
    justify-self: center;
    align-self: center;
    columns: 2;
    width: 800px;
    padding-right: 220px;
}

.trendingcolumn {
    display: flex;
    padding: 5px;
    text-justify: center;
    text-align: center;
    max-width: 400px;
}

.trendingcolumn h2 {
    display: block;
    margin: auto;
    font-size: 45px
}

#trending {
    display: block;
    max-width: 70%;
    margin: auto;
    padding-right: 125px;
} 

.titletrend {
    max-width: 900px;
    display: flex; 
    margin: 30px 0px;
    padding: 0px;
    columns: 2;
    align-items: center;
    justify-items: center;
} 



/* Book Grid */

.divbooklist {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    gap: 10px 2em;
    padding: 30px 40px 40px 40px;
    justify-content: center;
}

.divbooklist :first-child {
    align-self: top;
}

.divbooklist p {
    /* text-align: left; */
    text-align: justify;
    padding: 0px 10px;
}

.divbooklist h3 {
    text-align: center;
    font-size: 30px; 
}

  .divbooklist img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        margin-bottom: 40px;

  }

  footer {
      background-color: rgb(86, 31, 153);
      display: flex;
      color: white;
      columns: 2;
      contain: content;
  }

  footer div {
      margin-inline-start: 100px;
      display: flex;
      contain: content;
      text-align: left;
      margin: auto;
  }

 /* #footmenu {
     display: flex;
     columns: 3;
     text-justify: right;
     padding: 0px 5px;
     margin: auto;
 } */

 #footmenu {
    display: grid;
    grid-template-columns: repeat(auto-fit), 40px;
    gap: 4px 1em;
    padding: 4px;
    justify-content: center;
}

#footmenu :first-child {
    align-self: top;
}

#footmenu div {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

  footer ul {
      display: block;
      list-style: none;
      margin: auto;
      padding: auto;
      padding-inline-start: 0px;
  }

  footer li {
      text-align: left;
      margin: 5px;
  }

  footer p {
      margin: auto;
  }





